.analog_clock {
    display: flex;
    gap: 175px;
    margin-bottom: 40px;
    padding-left: 65px;
}

.clock {
    position: relative;
    width: 110px;
    height: 110px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 100%;
    transform: rotate(-90deg);
}

.hours-arrow {
    width: 40px;
    height: 2px;
    background-color: red;
}

.minutes-arrow {
    width: 50px;
    height: 2px;
    background-color: green;
}

.seconds-arrow {
    width: 50px;
    height: 1px;
    background-color: blue;
}

.arrows {
    position: absolute;
    transform-origin: left;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.digital_clocks {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.separator {
    width: 5px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot {
    width: 100%;
    height: 5px;
    background-color: #181717;
}

.dot:not(:last-child) {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    gap: 5px;
}

.num {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 40px;
    height: 80px;
    /*border: 1px solid blueviolet;*/
}

.v {
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: #181717;
}

.h {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #181717;
}

.el-1 {
    top: 0;
}

.el-2 {
    right: 0;
}

.el-3 {
    bottom: 0;
    right: 0;
}

.el-4 {
    bottom: 0;
}

.el-5 {
    bottom: 0;
    left: 0;
}

.el-6 {
    left: 0;
    top: 0;
}

.el-7 {
    bottom: 50%;
    left: 0;
    transform: translateY(50%);
}
